@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner{
    background-image: url(images/bg-pattern-desktop.svg);
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: center;
} 

.banner__info{
    font-family: 'Josefin Sans', sans-serif; 
}

.banner__logo{
    padding:7% 0 0 5%;
}

.banner__title{
    padding: 15% 30% 5% 5%;
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 4.5rem;
    letter-spacing: 1.5rem;
    font-weight: 400;    
}

.banner__title-thin{
    color:hsl(0, 36%, 70%);
    font-weight: 100;
    padding:0;
}

.banner__text{
    color:hsl(0, 36%, 70%);
    padding:0 25% 5% 5%;
    word-spacing: 0.3rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.email__form{
    display:inline-block;
    margin-left: 5%;
    border: 1px solid hsl(0, 53%, 78%);
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
}

.email__text{
    border: none;
    width: 100%;
    background-color: white;
    padding: 3%;
    border-radius: 2rem;   
}

.email__text:focus{
    outline: none;
    color: hsl(0, 36%, 70%);
}

.email__submit{
    border: none;
    padding: 3%;
    background-color: hsl(0, 53%, 78%);
    color: white;
    border-radius: 2rem;
    width: 20%;
    box-shadow: -3px 7px 20px hsl(0, 53%, 78%);
}

.banner__images--mobile{
    display: none;
}
@media(max-height:800px){
    .banner{
        height: 80vh;
    }

    .banner__title{
        font-size: 3rem;
        padding: 7% 30% 3% 5%;
        line-height: 4rem;
        font-weight: 600;
    }
    .banner__title-thin{
        font-weight: 100;
        padding:0;
    }
    
    .banner__text{
        font-size: 0.9rem;
        padding:0 25% 3% 5%;
        word-spacing: 0.2rem;
        line-height: 1.5rem;
    }

    .email__form{
        width: 30%;
    }
    
    .email__text{
        padding: 3%;
    }
    
    .email__submit{
        padding: 3%;
        width: 30%;
    }
}

@media(max-height:700px){
    .banner{
        height: 100vh;
        width: 90vw;
    }
    .banner__text{
        font-size: 1rem;
        padding:0 25% 5% 5%;
       
}

@media(max-width:1500px){
    .banner{
        width: 90%;
    }
    .banner__title{
        font-size: 2rem;
    }
}

@media(max-width:1100px){
    .banner{
        width: 100%;  
    }
}
@media(max-width:1100px){
    .banner{
        width: 100%;
    }
}


@media(max-width:900px) {
    .banner{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .banner__images--mobile{
        display: block;
        order: 1;
    }
    .banner__info{
        order: 2;
    }
  
    .banner__images--desktop{
        display: none;
    }
}
